<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lại mật khẩu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login_Register.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="right-section" style="width:100%; max-width: 500px; margin: 0 auto;">
            <div class="form-login">
                <h2>Đặt mật khẩu mới 🔑</h2>
                <p class="text">Vui lòng nhập mật khẩu mới cho tài khoản của bạn.</p>

                <form method="post">
                    <div class="input-box">
                        <label>Mật khẩu mới</label>
                        <div class="input-wrap">
                            <i class="fa-solid fa-lock icon"></i>
                            <input type="password" name="password" placeholder="••••••••" required>
                        </div>
                    </div>
                    <button type="submit" class="btn-submit">Xác nhận thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>